/* Button State */
.Primary-Button {
    background: linear-gradient(90deg, #1A2A6C 0%, #B21F1F 51.04%, #FDBB2D 100%);
  }
  
  .Secondary-Button {
    /* sunset2 */
    background: linear-gradient(90deg, #1A2A6C 0%, #B21F1F 51.04%, #FDBB2D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-emphasis-color: transparent;
  
    border: 1px solid;
    border-image-source: linear-gradient(90deg, #1A2A6C 0%, #B21F1F 51.04%, #FDBB2D 100%);
  
  }
  
  /* .Secondary-Button:hover {
    box-shadow: none;
    color: linear-gradient(90deg, #1A2A6C 0%, #B21F1F 51.04%, #FDBB2D 100%);
  } */
  
  .Text-Button {
    background: linear-gradient(90deg, #1A2A6C 0%, #B21F1F 51.04%, #FDBB2D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text ;
  }
  
  .Text-Button:hover {
    box-shadow: none;
    color: rgba(178, 31, 31, 1);
  }
  